# GoGreen increases x% participation in future Marketing campaigns with Machine Learning

## Executive summary


## Background

GoGreen is a company in the solar industry.  It has hired us as consultants to help them understand which factors contribute to the success of future marketing campaigns.  Currently the company is trying to reduce marketing efforts that result in zero return on investment (ROI).
We are also tasked to answer the following questions: What does the Average customer look like for our company? What Products and Channels of Revenue are best performing? Which Marketing Campaigns were most successful? 

## Overview of Approach

We will answer these questions through data visualization, statistical analysis, and several machine learning models leveraging Python.

### Data Dictionary

The following are the fields that we have in our data:


- `ID`: the unique identification code for every customer
- `Year_Birth`: The Year of a customer's birth
- `Education`: The level of education that a customer completed
- `Marital_Status`: Status of Marriage
- `Income`: Annual Income
- `Kidhome`: # of children under the age of 13 in Customer's household
- `Teenhome`: # of children between 13-19 in Customer's household
- `Dt_Customer`: Date of Customer Enrollment
- `Recency`: # of days since last purchase
- `MntWines`: Dollar amount of Wines purchased in last 2 years
- `MntFruits`: Dollar amount of Fruits purchased in last 2 years
- `MntMeatProducts`: Dollar amount of Meat products purchased in the last 2 years
- `MntFishProducts`: Dollar amount of Fish products purchased in the last 2 years
- `MntSweetProducts`: Dollar amount of Sweet products purchased in the last 2 years
- `MntGoldProds`: Dollar amount of Gold products purchased in the last 2 years
- `NumDealsPurchases`: # of purchases made with discount
- `NumWebPurchases`: # of purchases made through the company's website
- `NumCatalogPurchases`: # of purchases made using the catalog
- `NumStorePurchases`: # of purchases made directly in-store
- `NumWebVisitsMonth`: # of visits made through company's website
- `AcceptedCmp1`: 1 if customer accepted the offer in the 1st campaign, 0 otherwise
- `AcceptedCmp2`: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise
- `AcceptedCmp3`: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise
- `AcceptedCmp4`: 1 if customer accepted the offer in the 4th campaign, 0 otherwise
- `AcceptedCmp5`: 1 if customer accepted the offer in the 5th campaign, 0 otherwise
- `Complain`: 1 if customer complained in the last 2 years, 0 otherwise
- `Response`: 1 if customer accepted the offer in the last campaign, 0 otherwise

## Let's start coding!

### Import Libraries

In [1]:
# Libraries to help with reading and manipulating data
import numpy as np
import pandas as pd

In [2]:
# Libraries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [3]:
# Removes the limit for the number of displayed columns
pd.set_option("display.max_columns", None)
# Sets the limit for the number of displayed rows
pd.set_option("display.max_rows", 200)

In [4]:
# To supress numerical display in scientific notations
pd.set_option("display.float_format", lambda x: "%.2f" % x)

In [5]:
# Avoid displaying warnings
import warnings

In [6]:
# Machine Learning Libraries

In [7]:
# this will help in making the Python code more structured automatically (good coding practice)
%load_ext nb_black

In [8]:
# loading the dataset
df = pd.read_excel("marketing_campaign.xlsx")

In [9]:
# checking shape of the data
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns in the dataset")

There are 2240 rows and 29 columns in the dataset

In [10]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.00,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.00,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.00,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.00,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.00,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [32]:
# to view last 5 rows of the dataset
df.tail(100)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
2140,10432,1974,Graduation,Divorced,19346.00,1,0,2014-01-30,26,2,0,9,3,6,2,1,1,0,3,8,0,0,0,0,0,0,3,11,0
2141,9216,1971,Graduation,Married,35788.00,1,1,2014-01-23,34,23,2,11,3,1,4,2,2,0,3,6,0,0,0,0,0,0,3,11,0
2142,7124,1968,Graduation,Divorced,36997.00,1,1,2013-02-01,72,43,4,12,8,0,27,5,2,1,4,5,0,0,0,0,0,0,3,11,0
2143,9727,1957,Graduation,Married,23539.00,0,0,2014-02-28,13,4,24,11,16,1,25,1,2,0,4,6,0,0,0,0,0,0,3,11,0
2144,5136,1973,Graduation,Single,65333.00,0,1,2014-01-17,58,654,7,92,0,15,30,7,9,4,8,6,0,1,1,0,0,0,3,11,0
2145,9790,1957,Graduation,Single,78499.00,0,0,2013-11-23,12,912,72,170,47,36,97,1,11,3,4,4,0,0,1,0,0,0,3,11,1
2146,1818,1971,PhD,Together,29732.00,1,0,2014-03-25,23,25,0,8,0,1,4,1,2,0,2,9,0,0,0,0,0,0,3,11,0
2147,1100,1960,Master,Together,41275.00,1,2,2014-03-24,33,24,4,22,0,2,9,4,3,1,3,5,0,0,0,0,0,0,3,11,0
2148,7873,1973,PhD,Together,63516.00,1,1,2013-07-06,30,141,11,114,15,14,5,4,4,1,7,5,0,0,0,0,0,0,3,11,0
2149,10609,1962,PhD,Married,42769.00,0,1,2013-10-12,15,71,0,13,3,1,0,2,1,1,4,4,0,0,0,0,0,0,3,11,0
2150,6950,1958,Master,Married,49572.00,1,1,2013-12-15,25,35,1,16,0,1,1,2,2,0,3,7,0,0,0,0,0,0,3,11,0
2151,7233,1972,Graduation,Married,69209.00,0,0,2012-09-17,4,496,32,849,229,48,128,2,5,3,6,4,0,0,0,1,0,0,3,11,0
2152,9481,1976,Graduation,Married,17148.00,1,0,2014-01-28,80,9,9,11,13,10,16,4,3,1,3,8,0,0,0,0,0,0,3,11,0
2153,7699,1969,Graduation,Widow,40590.00,1,1,2013-10-02,30,154,0,50,6,11,37,5,3,4,3,6,1,0,0,0,0,0,3,11,0
2154,2711,1976,Master,Together,30560.00,1,0,2013-06-27,6,9,1,5,4,5,7,1,1,0,3,7,0,0,0,0,0,0,3,11,0
2155,8933,1983,2n Cycle,Married,32146.00,1,0,2014-05-12,16,26,3,23,4,7,3,2,2,0,4,6,0,0,0,0,0,0,3,11,0
2156,8726,1964,2n Cycle,Divorced,41713.00,1,1,2014-04-29,57,77,8,44,10,10,25,5,3,1,4,6,0,0,0,0,0,0,3,11,0
2157,1515,1975,Master,Together,34176.00,0,1,2014-01-22,9,11,2,7,4,2,2,1,1,0,3,3,0,0,0,0,0,0,3,11,0
2158,5186,1955,PhD,Married,58482.00,0,1,2014-03-12,59,576,7,115,19,7,7,2,7,4,9,6,0,1,0,0,0,0,3,11,0
2159,10157,1965,Graduation,Single,59686.00,0,1,2014-01-25,78,89,15,89,34,42,5,1,4,1,6,4,0,0,0,0,0,0,3,11,0
2160,5667,1964,PhD,Married,60896.00,0,1,2012-10-11,90,1013,30,399,60,46,153,3,9,10,4,6,0,0,0,0,0,0,3,11,1
2161,902,1980,Graduation,Together,62994.00,1,0,2014-03-04,74,224,12,48,4,12,12,1,6,2,4,6,0,0,0,0,0,0,3,11,0
2162,977,1957,Graduation,Together,47320.00,0,1,2013-08-01,10,200,19,111,50,15,19,6,5,1,8,6,0,0,0,0,0,0,3,11,0
2163,7313,1949,2n Cycle,Widow,74859.00,0,0,2013-06-03,63,570,73,614,133,102,73,1,6,5,11,3,0,0,0,1,0,0,3,11,0
2164,7600,1992,Basic,Single,15253.00,1,0,2013-10-28,13,1,3,3,8,1,13,2,1,0,3,7,0,0,0,0,0,0,3,11,0
2165,9706,1974,PhD,Single,31560.00,1,0,2013-06-24,98,62,1,20,4,0,7,2,2,1,3,8,0,0,0,0,0,0,3,11,0
2166,2429,1954,Graduation,Divorced,72071.00,0,1,2013-02-14,4,531,69,300,150,138,150,3,5,4,8,2,0,0,0,0,0,0,3,11,0
2167,3520,1990,Master,Single,91172.00,0,0,2013-03-27,94,162,28,818,0,28,56,0,4,3,7,3,1,0,1,1,1,0,3,11,1
2168,10394,1984,Graduation,Married,90000.00,0,0,2013-12-23,91,675,144,133,94,192,241,1,4,8,5,1,1,0,1,1,0,0,3,11,0
2169,4548,1981,Graduation,Single,41967.00,1,1,2013-11-23,66,23,4,10,0,2,15,1,1,0,3,4,0,0,0,0,0,0,3,11,0
2170,9362,1965,Graduation,Single,69263.00,0,1,2014-03-05,14,492,5,32,13,5,21,1,9,1,7,6,0,1,0,0,0,0,3,11,0
2171,3968,1970,2n Cycle,Divorced,65706.00,0,0,2013-06-28,77,918,10,129,13,0,129,1,11,3,12,7,0,1,1,0,1,0,3,11,1
2172,4084,1975,Graduation,Together,60934.00,0,1,2014-01-17,41,224,155,155,192,93,54,2,6,4,11,4,0,0,0,0,0,0,3,11,0
2173,6721,1951,Graduation,Married,71965.00,0,1,2013-07-29,21,572,19,286,50,38,248,3,6,3,5,3,0,0,0,0,0,0,3,11,0
2174,2829,1955,Graduation,Married,65210.00,0,1,2014-03-10,25,626,0,70,0,7,28,2,9,3,8,6,0,1,0,1,0,0,3,11,0
2175,1772,1975,PhD,Married,79174.00,0,0,2013-01-11,2,1074,37,518,193,92,129,1,5,6,7,2,0,0,1,1,0,0,3,11,1
2176,1544,1967,Master,Divorced,81380.00,0,0,2012-12-22,51,741,68,689,224,68,103,1,4,2,10,2,0,0,0,0,0,0,3,11,0
2177,492,1973,PhD,YOLO,48432.00,0,1,2012-10-18,3,322,3,50,4,3,42,5,7,1,6,8,0,0,0,0,0,0,3,11,0
2178,4377,1971,Graduation,Married,52914.00,0,1,2013-01-07,32,254,10,44,30,10,227,2,7,3,3,7,1,0,0,0,0,0,3,11,0
2179,4541,1955,Graduation,Together,38946.00,0,1,2013-10-24,84,116,6,82,6,6,41,2,3,1,6,5,0,0,0,0,0,0,3,11,0
2180,1321,1974,Graduation,Married,26067.00,1,0,2013-11-04,49,22,2,18,0,2,12,3,3,0,3,8,0,0,0,0,0,0,3,11,0
2181,8858,1972,PhD,Married,44325.00,0,1,2013-03-07,69,516,0,21,0,0,5,4,8,2,7,8,0,1,0,0,0,0,3,11,0
2182,3266,1964,Graduation,Married,42523.00,0,0,2014-04-23,96,14,36,11,3,26,35,1,1,1,4,2,0,0,0,0,0,0,3,11,0
2183,11187,1978,Basic,Single,26487.00,1,0,2013-05-20,23,2,8,10,12,14,23,3,2,1,3,5,0,0,0,0,0,0,3,11,0
2184,8207,1957,2n Cycle,Married,53233.00,0,1,2014-03-18,18,28,0,9,3,0,0,1,1,0,3,4,0,0,0,0,0,0,3,11,0
2185,9723,1960,Graduation,Married,67716.00,0,1,2013-01-10,8,530,142,217,62,9,56,4,7,4,13,5,0,1,0,0,0,0,3,11,0
2186,2666,1972,Master,Married,76234.00,0,1,2014-02-06,21,519,50,167,130,0,41,1,8,3,11,3,0,1,0,0,0,0,3,11,0
2187,5721,1956,PhD,Married,84117.00,0,0,2014-05-11,60,611,76,749,59,45,26,1,7,10,6,2,0,0,1,0,0,0,3,11,0
2188,10652,1957,Master,Together,65487.00,0,0,2014-01-10,48,240,67,500,199,0,163,3,3,5,6,2,0,0,0,0,0,0,3,11,0
2189,1646,1972,Basic,Married,25224.00,1,0,2014-03-16,36,4,9,12,11,2,8,2,1,1,3,3,0,0,0,0,0,0,3,11,0
2190,4418,1983,Master,Single,89616.00,0,0,2013-02-25,36,671,47,655,145,111,15,1,7,5,12,2,0,0,0,0,0,0,3,11,1
2191,2656,1971,Graduation,Divorced,40851.00,1,1,2013-02-21,63,23,1,7,0,4,24,1,1,1,2,7,0,0,0,0,0,0,3,11,0
2192,7990,1947,Graduation,Married,27469.00,0,0,2012-08-02,2,9,1,2,3,2,0,1,0,0,3,6,0,0,0,0,0,0,3,11,0
2193,8722,1957,2n Cycle,Married,82347.00,0,0,2012-11-06,38,556,54,845,202,133,63,1,7,7,10,3,1,0,0,1,0,0,3,11,1
2194,7118,1957,Graduation,Married,73803.00,0,1,2012-08-01,61,833,80,363,52,26,174,2,9,5,6,6,1,0,0,0,0,0,3,11,1
2195,2980,1952,Master,Single,8820.00,1,1,2013-03-22,52,12,0,13,4,2,4,4,3,0,3,8,0,0,0,0,0,0,3,11,0
2196,1839,1974,Graduation,Single,43322.00,0,0,2014-04-21,25,56,7,48,10,2,18,1,3,0,4,7,0,0,0,0,0,0,3,11,0
2197,10722,1973,Graduation,Together,55593.00,0,1,2013-08-21,63,293,8,124,11,4,106,2,6,6,3,6,1,0,0,0,0,0,3,11,0
2198,2632,1954,Graduation,Married,50501.00,1,1,2013-06-18,10,297,0,38,13,0,152,7,5,4,4,6,1,0,0,0,0,0,3,11,1
2199,9014,1975,Graduation,Married,37085.00,1,1,2014-06-26,65,39,1,16,2,0,3,4,3,0,3,8,0,0,0,0,0,0,3,11,0
2200,7620,1990,Basic,Single,16185.00,1,0,2013-08-05,71,5,11,16,21,8,45,2,2,2,2,8,0,0,0,0,0,0,3,11,0
2201,10968,1969,Graduation,Single,57731.00,0,1,2012-11-23,0,266,21,300,65,8,44,4,8,8,6,6,0,0,0,0,0,0,3,11,0
2202,11133,1973,PhD,YOLO,48432.00,0,1,2012-10-18,3,322,3,50,4,3,42,5,7,1,6,8,0,0,0,0,0,0,3,11,1
2203,2736,1978,Graduation,Married,73807.00,0,1,2013-01-02,88,366,124,156,71,78,54,2,5,5,11,2,0,0,0,0,0,0,3,11,0
2204,1876,1990,Graduation,Married,18929.00,0,0,2013-02-16,15,32,0,8,23,4,18,1,1,0,4,6,0,0,0,0,0,0,3,11,0
2205,5959,1968,Graduation,Single,35893.00,1,1,2012-10-15,80,158,0,23,0,0,18,6,3,1,5,8,0,0,0,0,0,0,3,11,0
2206,1092,1980,Graduation,Married,61014.00,0,1,2012-08-11,17,269,129,495,182,43,29,4,9,3,4,7,0,0,0,0,0,0,3,11,0
2207,4333,1954,Graduation,Together,32144.00,1,1,2014-03-23,76,41,0,10,0,0,3,4,2,1,3,7,0,1,0,0,0,0,3,11,0
2208,3850,1963,Basic,Together,14918.00,0,1,2012-12-07,52,3,3,3,15,4,15,1,1,0,3,6,0,0,0,0,0,0,3,11,0
2209,6168,1963,Graduation,Divorced,45146.00,1,1,2013-07-15,28,33,0,5,0,0,15,2,1,1,2,4,0,0,0,0,0,0,3,11,0
2210,607,1955,2n Cycle,Divorced,41769.00,0,1,2013-02-13,31,302,29,131,32,0,27,6,8,1,7,8,0,0,0,0,0,0,3,11,0
2211,10469,1981,Graduation,Together,88325.00,0,0,2014-02-05,42,519,71,860,93,27,53,1,6,2,9,2,0,0,0,0,0,0,3,11,0
2212,6983,1950,Master,Divorced,38054.00,1,1,2014-05-01,24,23,2,17,2,1,0,2,2,0,3,7,0,0,0,0,0,0,3,11,0
2213,3661,1995,2n Cycle,Single,80617.00,0,0,2012-10-12,42,594,51,631,72,55,32,1,4,6,8,2,0,0,0,0,0,0,3,11,0
2214,9303,1976,Graduation,Married,5305.00,0,1,2013-07-30,12,12,4,7,1,3,5,0,1,0,0,13,0,0,0,0,0,0,3,11,0
2215,692,1954,Graduation,Together,36807.00,1,1,2012-12-20,88,4,2,5,0,0,5,1,1,0,2,6,0,0,0,0,0,0,3,11,0
2216,736,1983,Graduation,Together,28427.00,1,0,2013-03-21,67,18,3,19,3,3,6,2,2,0,3,8,0,0,0,0,0,0,3,11,0
2217,9589,1948,PhD,Widow,82032.00,0,0,2014-04-05,54,332,194,377,149,125,57,0,4,6,7,1,0,0,0,0,0,0,3,11,0
2218,4838,1978,Graduation,Together,22775.00,1,0,2013-06-19,40,5,1,8,0,0,1,1,1,0,2,8,0,0,0,0,0,0,3,11,0
2219,9246,1985,Master,Together,40101.00,1,0,2012-10-14,73,171,3,129,26,24,62,4,6,1,6,7,0,0,0,0,0,0,3,11,0
2220,6261,1979,Graduation,Married,58025.00,0,1,2013-11-26,81,270,31,88,11,48,22,3,3,2,10,4,0,0,0,0,0,0,3,11,0
2221,7366,1982,Master,Single,75777.00,0,0,2013-07-04,12,712,26,538,69,13,80,1,3,6,11,1,0,1,1,0,0,0,3,11,1
2222,10659,1979,2n Cycle,Together,7500.00,1,0,2013-05-07,7,2,8,11,3,8,21,4,3,2,2,7,0,0,0,0,0,0,3,11,0
2223,1448,1963,Master,Married,33562.00,1,2,2014-06-25,33,21,12,12,0,3,3,3,2,0,4,4,0,0,0,0,0,0,3,11,0
2224,4286,1970,PhD,Single,57642.00,0,1,2014-01-09,24,580,6,58,8,0,27,3,7,6,6,4,1,0,0,0,0,0,3,11,0
2225,4749,1968,Graduation,Together,58554.00,1,1,2012-09-26,55,368,24,68,38,0,88,6,8,2,6,7,0,0,0,0,0,0,3,11,0
2226,4478,1979,Graduation,Married,63777.00,1,1,2013-03-24,87,457,5,106,15,17,53,8,11,1,6,8,0,0,0,0,0,0,3,11,0
2227,4201,1962,Graduation,Single,57967.00,0,1,2013-03-03,39,229,7,137,4,0,91,5,4,2,8,5,0,0,0,0,0,0,3,11,0
2228,8720,1978,2n Cycle,Together,nan,0,0,2012-08-12,53,32,2,1607,12,4,22,0,0,0,1,0,0,1,0,0,0,0,3,11,0
2229,10084,1972,Graduation,Married,24434.00,2,0,2014-05-18,9,3,2,8,20,0,17,2,2,1,2,7,0,0,0,0,0,0,3,11,0
2230,7004,1984,Graduation,Single,11012.00,1,0,2013-03-16,82,24,3,26,7,1,23,3,3,1,2,9,1,0,0,0,0,0,3,11,0
2231,9817,1970,Master,Single,44802.00,0,0,2012-08-21,71,853,10,143,13,10,20,2,9,4,12,8,0,0,0,0,0,0,3,11,0
2232,8080,1986,Graduation,Single,26816.00,0,0,2012-08-17,50,5,1,6,3,4,3,1,0,0,3,4,0,0,0,0,0,0,3,11,0
2233,9432,1977,Graduation,Together,666666.00,1,0,2013-06-02,23,9,14,18,8,1,12,4,3,1,3,6,0,0,0,0,0,0,3,11,0
2234,8372,1974,Graduation,Married,34421.00,1,0,2013-07-01,81,3,3,7,6,2,9,1,1,0,2,7,0,0,0,0,0,0,3,11,0
2235,10870,1967,Graduation,Married,61223.00,0,1,2013-06-13,46,709,43,182,42,118,247,2,9,3,4,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.00,2,1,2014-06-10,56,406,0,30,0,0,8,7,8,2,5,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.00,0,0,2014-01-25,91,908,48,217,32,12,24,1,2,3,13,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.00,0,1,2014-01-24,8,428,30,214,80,30,61,2,6,5,10,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.00,1,1,2012-10-15,40,84,3,61,2,1,21,3,3,1,4,7,0,0,0,0,0,0,3,11,1

In [12]:
# let's create a copy of the data to avoid any changes to original data
data = df.copy()

In [13]:
# checking for duplicate values in the data
data.duplicated().sum()

0

- There are no duplicate values in the data.

In [14]:
# checking the names of the columns in the data
print(data.columns)

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [15]:
# checking column datatypes and number of non-null values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

* Dependent variable is the Response of a client to a campaign, which if of *int* type.
* `Education`, `Marital_Status`, `Dt_Customer` are of *object* type.
* All other columns are numeric in nature.
* There are missing values in the `income` column.

## Fixing the data types
* `Year_Birth` should be converted in a categorical data type by dividing the column in generations. EX. Millenials, Baby Boomers, GenZ.

In [16]:
conditions = [
    (df["Year_Birth"] >= 1893) & (df["Year_Birth"] <= 1923),
    (df["Year_Birth"] >= 1924) & (df["Year_Birth"] <= 1945),
    (df["Year_Birth"] >= 1946) & (df["Year_Birth"] <= 1964),
    (df["Year_Birth"] >= 1965) & (df["Year_Birth"] <= 1980),
    (df["Year_Birth"] >= 1981) & (df["Year_Birth"] <= 1996),
    (df["Year_Birth"] >= 1997) & (df["Year_Birth"] <= 2012),
    (df["Year_Birth"] >= 2013) & (df["Year_Birth"] <= 2025),
]

values = [
    "Error",
    "96-100 years old - Silent",
    "59-95 - Boomer",
    "43-58 - GenX",
    "27-57 - Millenialls",
    "11-26 GenZ",
    "0-10 - GenA",
]

In [17]:
# create new column age_group
data["age_group"] = np.select(conditions, values)

In [18]:
# Let's drop Year_Birth from our dataset
data.drop(columns=["Year_Birth"], inplace=True)

In [19]:
data.head(2)

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,age_group
0,5524,Graduation,Single,58138.00,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1,59-95 - Boomer
1,2174,Graduation,Single,46344.00,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0,59-95 - Boomer

* `Dt_Customer` should be converted in a categorical data type.

In [58]:
conditions = [
    (df["Dt_Customer"] < "2012-01-01"),
    (df["Dt_Customer"] >= "2012-01-01") & (df["Dt_Customer"] <= "2012-01-31"),
    (df["Dt_Customer"] >= "2013-01-01") & (df["Dt_Customer"] <= "2013-01-31"),
    (df["Dt_Customer"] >= "2014-01-01") & (df["Dt_Customer"] <= "2014-01-31"),
]

values = ["Before 2012", "2012", "2013", "2014"]

In [59]:
# create new column age_group
data["date_customer"] = np.select(conditions, values)

In [60]:
data["date_customer"].value_counts()

0       2043
2013     107
2014      90
Name: date_customer, dtype: int64

In [61]:
data.drop(columns="Dt_Customer", inplace=True)

In [63]:
data.head(100)

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,age_group,date_customer
0,5524,Graduation,Single,58138.00,0,0,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1,59-95 - Boomer,0
1,2174,Graduation,Single,46344.00,1,1,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
2,4141,Graduation,Together,71613.00,0,0,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
3,6182,Graduation,Together,26646.00,1,0,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
4,5324,PhD,Married,58293.00,1,0,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,2014
5,7446,Master,Together,62513.00,0,1,16,520,42,98,0,42,14,2,6,4,10,6,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
6,965,Graduation,Divorced,55635.00,0,1,34,235,65,164,50,49,27,4,7,3,7,6,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
7,6177,PhD,Married,33454.00,1,0,32,76,10,56,3,1,23,2,4,0,4,8,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
8,4855,PhD,Together,30351.00,1,0,19,14,0,24,3,3,2,1,3,0,2,9,0,0,0,0,0,0,3,11,1,43-58 - GenX,0
9,5899,PhD,Together,5648.00,1,1,68,28,0,6,1,1,13,1,1,0,0,20,1,0,0,0,0,0,3,11,0,59-95 - Boomer,0
10,1994,Graduation,Married,nan,1,0,11,5,5,6,0,2,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
11,387,Basic,Married,7500.00,0,0,59,6,16,11,11,1,16,1,2,0,3,8,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
12,2125,Graduation,Divorced,63033.00,0,0,82,194,61,480,225,112,30,1,3,4,8,2,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
13,8180,Master,Divorced,59354.00,1,1,53,233,2,53,3,5,14,3,6,1,5,6,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
14,2569,Graduation,Married,17323.00,0,0,38,3,14,17,6,1,5,1,1,0,3,8,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
15,2114,PhD,Single,82800.00,0,0,23,1006,22,115,59,68,45,1,7,6,12,3,0,0,1,1,0,0,3,11,1,59-95 - Boomer,0
16,9736,Graduation,Married,41850.00,1,1,51,53,5,19,2,13,4,3,3,0,3,8,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
17,4939,Graduation,Together,37760.00,0,0,20,84,5,38,150,12,28,2,4,1,6,7,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
18,6565,Master,Married,76995.00,0,1,91,1012,80,498,0,16,176,2,11,4,9,5,0,0,0,1,0,0,3,11,0,59-95 - Boomer,0
19,2278,2n Cycle,Single,33812.00,1,0,86,4,17,19,30,24,39,2,2,1,3,6,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
20,9360,Graduation,Married,37040.00,0,0,41,86,2,73,69,38,48,1,4,2,5,8,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
21,5376,Graduation,Married,2447.00,1,0,42,1,1,1725,1,1,1,15,0,28,0,1,0,0,0,0,0,0,3,11,0,43-58 - GenX,2013
22,1993,PhD,Married,58607.00,0,1,63,867,0,86,0,0,19,3,2,3,9,8,0,1,0,0,0,0,3,11,0,59-95 - Boomer,0
23,4047,PhD,Married,65324.00,0,1,0,384,0,102,21,32,5,3,6,2,9,4,0,0,0,0,0,0,3,11,0,59-95 - Boomer,2014
24,1409,Graduation,Together,40689.00,0,1,69,270,3,27,39,6,99,7,7,1,5,8,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
25,7892,Graduation,Single,18589.00,0,0,89,6,4,25,15,12,13,2,2,1,3,7,0,0,0,0,0,0,3,11,0,43-58 - GenX,2013
26,2404,Graduation,Married,53359.00,1,1,4,173,4,30,3,6,41,4,5,1,4,7,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
27,5255,Graduation,Single,nan,1,0,19,5,1,3,3,263,362,0,27,0,0,1,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
28,9422,Graduation,Married,38360.00,1,0,26,36,2,42,20,21,10,2,2,1,4,3,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
29,1966,PhD,Married,84618.00,0,0,96,684,100,801,21,66,0,1,6,9,10,2,0,0,1,0,0,0,3,11,0,43-58 - GenX,0
30,6864,Master,Divorced,10979.00,0,0,34,8,4,10,2,2,4,2,3,0,3,5,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
31,3033,Master,Together,38620.00,0,0,56,112,17,44,34,22,89,1,2,5,3,3,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
32,5710,Graduation,Together,40548.00,0,1,31,110,0,5,2,0,3,2,2,1,4,5,0,1,0,0,0,0,3,11,0,43-58 - GenX,0
33,7373,PhD,Divorced,46610.00,0,2,8,96,12,96,33,22,43,6,4,1,6,6,0,0,0,0,0,0,3,11,1,59-95 - Boomer,0
34,8755,Master,Married,68657.00,0,0,4,482,34,471,119,68,22,1,3,5,9,7,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
35,10738,Master,Single,49389.00,1,1,55,40,0,19,2,1,3,1,2,0,3,7,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
36,4339,PhD,Married,67353.00,0,1,37,702,17,151,0,8,35,5,5,6,12,2,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
37,10755,2n Cycle,Married,23718.00,1,0,76,6,3,14,15,7,36,3,3,1,2,7,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
38,8595,Graduation,Widow,42429.00,0,1,99,55,0,6,2,0,4,2,1,1,3,5,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
39,2968,PhD,Divorced,48948.00,0,0,53,437,8,206,160,49,42,2,7,10,5,6,1,0,0,0,0,0,3,11,1,96-100 years old - Silent,0
40,8601,Graduation,Married,80011.00,0,1,3,421,76,536,82,178,102,2,8,6,5,4,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
41,503,Master,Married,20559.00,1,0,88,13,1,29,3,0,7,2,2,0,3,8,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
42,8430,Graduation,Together,21994.00,0,1,4,9,0,6,3,1,3,1,0,0,3,5,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
43,7281,PhD,Single,nan,0,0,80,81,11,50,3,2,39,1,1,3,4,2,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
44,2139,Master,Married,7500.00,1,0,19,3,1,10,3,2,12,3,2,0,3,5,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
45,1371,Graduation,Single,79941.00,0,0,72,123,164,266,227,30,174,1,2,4,9,1,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
46,9909,2n Cycle,Married,7500.00,0,0,24,3,18,14,15,22,50,3,3,1,3,9,0,0,0,0,0,0,3,11,1,27-57 - Millenialls,0
47,7286,Graduation,Together,41728.00,1,0,92,13,6,15,3,5,13,1,2,0,2,10,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
48,7244,Graduation,Single,nan,2,1,96,48,5,48,6,10,7,3,2,1,4,6,0,0,0,0,0,0,3,11,0,59-95 - Boomer,2014
49,6566,PhD,Married,72550.00,1,1,39,826,50,317,50,38,38,9,5,2,12,8,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
50,8614,Graduation,Widow,65486.00,0,1,29,245,19,125,37,67,14,1,4,2,10,2,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
51,4114,Master,Married,79143.00,0,0,2,650,37,780,27,167,32,1,6,9,13,3,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
52,1331,Graduation,Single,35790.00,1,0,54,12,6,20,30,1,3,2,2,0,3,7,0,0,0,0,0,0,3,11,0,43-58 - GenX,2013
53,2225,Graduation,Divorced,82582.00,0,0,54,510,120,550,156,40,241,1,4,9,7,1,1,0,0,1,0,0,3,11,1,43-58 - GenX,0
54,9381,Graduation,Married,66373.00,1,1,57,328,9,124,12,24,109,7,4,2,10,3,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
55,6260,Master,Together,82384.00,0,0,55,984,51,432,180,120,190,1,3,10,13,1,0,0,1,0,0,0,3,11,1,59-95 - Boomer,0
56,10383,Graduation,Divorced,70287.00,0,0,30,295,35,482,121,120,40,1,5,5,10,3,0,0,0,0,0,0,3,11,1,43-58 - GenX,0
57,7437,Graduation,Single,27938.00,1,0,31,13,0,8,2,1,5,1,1,0,4,3,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
58,8557,Graduation,Single,nan,1,0,57,11,3,22,2,2,6,2,2,0,3,6,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
59,8375,PhD,Married,55954.00,0,1,63,447,0,28,0,0,43,3,8,2,6,7,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
60,6853,Master,Single,75777.00,0,0,12,712,26,538,69,13,80,1,3,6,11,1,0,1,1,0,0,0,3,11,1,27-57 - Millenialls,0
61,3076,Graduation,Together,66653.00,1,1,18,452,18,102,16,18,6,4,4,2,12,3,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
62,1012,Graduation,Single,61823.00,0,1,26,523,7,134,37,14,169,4,8,2,10,7,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
63,6518,PhD,Widow,67680.00,0,1,8,546,0,48,0,6,6,1,7,3,8,5,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
64,4137,Graduation,Together,70666.00,0,0,29,398,40,367,119,122,30,1,7,4,4,4,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
65,8082,Graduation,Married,25721.00,1,0,75,1,3,6,3,6,15,1,1,1,2,7,0,0,0,0,0,0,3,11,1,43-58 - GenX,0
66,1386,Graduation,Together,32474.00,1,1,0,10,0,1,0,0,0,1,1,0,2,7,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
67,9369,2n Cycle,Single,88194.00,0,1,19,688,14,309,201,24,38,1,11,10,10,5,1,0,0,1,0,0,3,11,1,43-58 - GenX,0
68,4477,Graduation,Together,69096.00,0,1,4,247,49,159,7,82,109,1,5,2,10,4,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
69,1357,Graduation,Together,74854.00,1,2,90,856,59,487,58,29,73,7,2,5,5,5,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
70,1402,Master,Married,66991.00,0,0,1,496,36,460,189,60,12,3,4,8,6,3,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
71,10629,2n Cycle,Married,nan,1,0,25,25,3,43,17,4,17,3,3,0,3,8,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
72,6312,Graduation,Married,65031.00,0,1,29,258,107,291,84,37,86,4,10,3,13,7,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
73,8132,PhD,Married,60631.00,1,1,88,565,6,65,0,6,19,5,9,2,8,7,0,1,0,0,0,0,3,11,0,43-58 - GenX,0
74,1050,Graduation,Married,28332.00,0,0,58,14,10,13,4,15,9,1,2,1,4,2,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
75,5846,Graduation,Divorced,40246.00,1,0,68,2,1,6,2,1,1,1,1,0,2,6,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
76,1859,Master,Married,75251.00,0,0,34,721,111,925,97,18,18,1,7,6,5,5,0,0,0,0,0,0,3,11,1,43-58 - GenX,0
77,7503,Graduation,Single,75825.00,0,0,40,1032,105,779,137,105,51,0,5,8,9,4,1,0,0,0,0,0,3,11,1,43-58 - GenX,0
78,10401,2n Cycle,Together,26326.00,0,0,12,1,0,5,0,3,9,1,0,0,3,3,0,0,0,0,0,1,3,11,0,43-58 - GenX,0
79,1618,Graduation,Together,56046.00,0,0,9,577,0,64,0,0,51,2,10,1,8,8,1,0,0,0,0,0,3,11,1,43-58 - GenX,2013
80,3332,Graduation,Single,29760.00,1,0,87,64,4,68,7,5,17,4,3,1,4,8,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
81,2261,Graduation,Married,26304.00,1,0,5,4,1,5,2,0,4,1,1,0,2,7,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
82,5346,2n Cycle,Married,23559.00,1,0,87,25,5,19,7,0,23,3,3,0,3,7,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
83,4119,Master,Together,38620.00,0,0,56,112,17,44,34,22,89,1,2,5,3,3,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
84,535,Graduation,Divorced,81361.00,0,0,18,163,23,424,27,65,76,1,3,10,13,1,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
85,5268,Graduation,Married,29440.00,1,1,95,17,8,14,10,4,3,2,1,0,4,7,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
86,273,Master,Married,36138.00,1,1,48,130,0,16,0,0,5,5,3,1,4,7,0,1,0,0,0,0,3,11,0,43-58 - GenX,0
87,4452,Graduation,Single,50388.00,0,1,3,292,6,37,0,3,34,4,6,1,6,7,0,1,0,1,0,0,3,11,1,59-95 - Boomer,0
88,8504,Graduation,Married,79593.00,0,0,70,350,60,568,110,133,145,1,5,6,7,2,0,0,1,0,0,0,3,11,0,43-58 - GenX,0
89,771,Graduation,Together,54178.00,0,1,79,135,9,39,4,0,7,1,2,2,5,2,0,0,0,0,0,0,3,11,0,43-58 - GenX,2014
90,8996,PhD,Married,nan,2,1,4,230,42,192,49,37,53,12,7,2,8,9,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
91,9235,Graduation,Single,nan,1,1,45,7,0,8,2,0,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0,59-95 - Boomer,0
92,5798,Master,Together,nan,0,0,87,445,37,359,98,28,18,1,2,4,8,1,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
93,11178,Master,Single,42394.00,1,0,69,15,2,10,0,1,4,1,1,0,3,7,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
94,2230,PhD,Married,23626.00,1,0,84,27,2,14,0,0,0,3,3,1,3,5,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
95,7516,Graduation,Married,30096.00,1,0,30,5,3,11,12,5,9,1,2,0,3,6,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0
96,7247,Graduation,Widow,47916.00,0,1,72,505,0,26,0,0,75,5,7,4,6,6,0,1,0,0,0,0,3,11,0,59-95 - Boomer,0
97,11100,Graduation,Divorced,51813.00,1,1,37,51,2,7,0,1,2,2,2,0,3,7,0,0,0,0,0,0,3,11,0,43-58 - GenX,0
98,4646,2n Cycle,Married,78497.00,0,0,44,207,26,447,75,0,223,1,5,7,12,2,0,0,0,1,0,0,3,11,0,59-95 - Boomer,0
99,3037,PhD,Married,50150.00,0,0,32,135,46,92,65,61,11,2,5,2,7,5,0,0,0,0,0,0,3,11,0,27-57 - Millenialls,0

* `Education`,`Marital_Status`, `age_group` are of object type, we can change them to categories.

* `AcceptedCmp1`, `AcceptedCmp2`, `AcceptedCmp3`, `AcceptedCmp4`,`AcceptedCmp5`, `Complain`, `Response` are numerical but we can convert them to "category" as well.

* *Coverting "objects" to "category" reduces the data space required to store the dataframe*

In [64]:
data["Education"] = data["Education"].astype("category")
data["Marital_Status"] = data["Marital_Status"].astype("category")
data["age_group"] = data["age_group"].astype("category")
data["AcceptedCmp1"] = data["AcceptedCmp1"].astype("category")
data["AcceptedCmp2"] = data["AcceptedCmp2"].astype("category")
data["AcceptedCmp3"] = data["AcceptedCmp3"].astype("category")
data["AcceptedCmp4"] = data["AcceptedCmp4"].astype("category")
data["AcceptedCmp5"] = data["AcceptedCmp5"].astype("category")
data["Complain"] = data["Complain"].astype("category")
data["Response"] = data["Response"].astype("category")
data["date_customer"] = data["date_customer"].astype("category")

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Education            2240 non-null   category
 2   Marital_Status       2240 non-null   category
 3   Income               2216 non-null   float64
 4   Kidhome              2240 non-null   int64
 5   Teenhome             2240 non-null   int64
 6   Recency              2240 non-null   int64
 7   MntWines             2240 non-null   int64
 8   MntFruits            2240 non-null   int64
 9   MntMeatProducts      2240 non-null   int64
 10  MntFishProducts      2240 non-null   int64
 11  MntSweetProducts     2240 non-null   int64
 12  MntGoldProds         2240 non-null   int64
 13  NumDealsPurchases    2240 non-null   int64
 14  NumWebPurchases      2240 non-null   int64
 15  NumCatalogPurchases  2240 non-null   int64
 16  NumStorePurchases    2240 non-null   int64
 17  NumWebVisitsMonth    2240 non-null   int64
 18  AcceptedCmp3         2240 non-null   category
 19  AcceptedCmp4         2240 non-null   category
 20  AcceptedCmp5         2240 non-null   category
 21  AcceptedCmp1         2240 non-null   category
 22  AcceptedCmp2         2240 non-null   category
 23  Complain             2240 non-null   category
 24  Z_CostContact        2240 non-null   int64
 25  Z_Revenue            2240 non-null   int64
 26  Response             2240 non-null   category
 27  age_group            2240 non-null   category
 28  date_customer        2240 non-null   category
dtypes: category(11), float64(1), int64(17)
memory usage: 340.7 KB

* *we can see that the memory usage has decreased from 507.6+KB to 390.9+KB*

**Let's check for missing values in the data.**

# checking for missing values in the data

In [66]:
data.isnull().sum()

ID                      0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
age_group               0
date_customer           0
dtype: int64

* `income` column has 24 missing values. It represents 1% of total data in the column.
* No other column has missing values.

In [67]:
# Let's look at the statistical summary of the data
data.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,2240.00,5592.16,3246.66,0.00,2828.25,5458.50,8427.75,11191.00
Income,2216.00,52247.25,25173.08,1730.00,35303.00,51381.50,68522.00,666666.00
Kidhome,2240.00,0.44,0.54,0.00,0.00,0.00,1.00,2.00
Teenhome,2240.00,0.51,0.54,0.00,0.00,0.00,1.00,2.00
Recency,2240.00,49.11,28.96,0.00,24.00,49.00,74.00,99.00
MntWines,2240.00,303.94,336.60,0.00,23.75,173.50,504.25,1493.00
MntFruits,2240.00,26.30,39.77,0.00,1.00,8.00,33.00,199.00
MntMeatProducts,2240.00,166.95,225.72,0.00,16.00,67.00,232.00,1725.00
MntFishProducts,2240.00,37.53,54.63,0.00,3.00,12.00,50.00,259.00
MntSweetProducts,2240.00,27.06,41.28,0.00,1.00,8.00,33.00,263.00
MntGoldProds,2240.00,44.02,52.17,0.00,9.00,24.00,56.00,362.00
NumDealsPurchases,2240.00,2.33,1.93,0.00,1.00,2.00,3.00,15.00
NumWebPurchases,2240.00,4.08,2.78,0.00,2.00,4.00,6.00,27.00
NumCatalogPurchases,2240.00,2.66,2.92,0.00,0.00,2.00,4.00,28.00
NumStorePurchases,2240.00,5.79,3.25,0.00,3.00,5.00,8.00,13.00
NumWebVisitsMonth,2240.00,5.32,2.43,0.00,3.00,6.00,7.00,20.00
Z_CostContact,2240.00,3.00,0.00,3.00,3.00,3.00,3.00,3.00
Z_Revenue,2240.00,11.00,0.00,11.00,11.00,11.00,11.00,11.00

* We have 2,240 clients

* We can see that the `Response` is a binary of 1 and 0.  14% of our clients engaged in the campaign.

* 50% of our clients were born before 1970.

* 50% of our clients' `income` sits below $51,000.  However, `income` has a wide range from 1730 to 666666

* The product category that our clients invest the greatest dollar amoount is wines.  

* At least 50% of our clients have spent 173 or less in wines.  

* The dollar amount each client spends in wine has a wide range 0 to  1493. 
    - This might be due to outliers in our data

* The second best product category in dollar amoount is Meat.  50% of our clients have spent 67 or less in meat.

* At least 50% of our clients have 0 kids at home

* At least 50% of our clients have:

    * 6 web visits a month

    * 5 in-store purchases

    * 2 catalog purchases

    * 4 web purchases

    * 2 num deals purchases

    * 0 teens at home

**Let's look at the non-numeric columns.**

In [68]:
# filtering non-numeric columns
cat_columns = data.select_dtypes(exclude=np.number).columns
cat_columns

Index(['Education', 'Marital_Status', 'AcceptedCmp3', 'AcceptedCmp4',
       'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Response',
       'age_group', 'date_customer'],
      dtype='object')

In [69]:
# printing the number of occurrences of each unique value in each categorical column
for column in cat_columns:

    print(data[column].value_counts() / len(data) * 100)
    print("-" * 50)

Graduation   50.31
PhD          21.70
Master       16.52
2n Cycle      9.06
Basic         2.41
Name: Education, dtype: float64
--------------------------------------------------
Married    38.57
Together   25.89
Single     21.43
Divorced   10.36
Widow       3.44
Alone       0.13
YOLO        0.09
Absurd      0.09
Name: Marital_Status, dtype: float64
--------------------------------------------------
0   92.72
1    7.28
Name: AcceptedCmp3, dtype: float64
--------------------------------------------------
0   92.54
1    7.46
Name: AcceptedCmp4, dtype: float64
--------------------------------------------------
0   92.72
1    7.28
Name: AcceptedCmp5, dtype: float64
--------------------------------------------------
0   93.57
1    6.43
Name: AcceptedCmp1, dtype: float64
--------------------------------------------------
0   98.66
1    1.34
Name: AcceptedCmp2, dtype: float64
--------------------------------------------------
0   99.06
1    0.94
Name: Complain, dtype: float64
--------------------------------------------------
0   85.09
1   14.91
Name: Response, dtype: float64
--------------------------------------------------
43-58 - GenX                47.72
59-95 - Boomer              33.88
27-57 - Millenialls         17.19
96-100 years old - Silent    1.07
Error                        0.13
Name: age_group, dtype: float64
--------------------------------------------------
0      91.21
2013    4.78
2014    4.02
Name: date_customer, dtype: float64
--------------------------------------------------

- Master, PHD and Graduation represent more than 71% of our clients.
- Top three marital status groups: 38% of our clients are married, 25% are together, and 21% are single.

### We will drop the missing values in the dataset.

In [70]:
data.dropna(inplace=True)
data.shape

(2216, 29)

## Let's visualize the data

### Univariate Analysis

In [71]:
# function to plot a boxplot and a histogram along the same scale.


def histogram_boxplot(data, feature, figsize=(12, 7), kde=False, bins=None):
    """
    Boxplot and histogram combined

    data: dataframe
    feature: dataframe column
    figsize: size of figure (default (12,7))
    kde: whether to the show density curve (default False)
    bins: number of bins for histogram (default None)
    """
    f2, (ax_box2, ax_hist2) = plt.subplots(
        nrows=2,  # Number of rows of the subplot grid= 2
        sharex=True,  # x-axis will be shared among all subplots
        gridspec_kw={"height_ratios": (0.25, 0.75)},
        figsize=figsize,
    )  # creating the 2 subplots
    sns.boxplot(
        data=data, x=feature, ax=ax_box2, showmeans=True, color="violet"
    )  # boxplot will be created and a star will indicate the mean value of the column
    sns.histplot(
        data=data, x=feature, kde=kde, ax=ax_hist2, bins=bins, palette="winter"
    ) if bins else sns.histplot(
        data=data, x=feature, kde=kde, ax=ax_hist2
    )  # For histogram
    ax_hist2.axvline(
        data[feature].mean(), color="green", linestyle="--"
    )  # Add mean to the histogram
    ax_hist2.axvline(
        data[feature].median(), color="black", linestyle="-"
    )  # Add median to the histogram

### `rating`

In [ ]:
a = data.columns

In [ ]:
for i in a
    histogram_boxplot(data, i)

### <a id='link1'>Summary of EDA</a>

**Data Description:**

- The target variable (`rating`) is of *float* type.
- `title`, `description`, `mediaType`, `sznOfRelease`, and `studio_primary` are of *object* type.
- `ongoing` column is of *bool* type.
- All other columns are numeric in nature.
- The `title` and `description` columns are dropped for modeling as they are highly textual in nature.
- There are no duplicate values in the data.
- There are missing values in the data. The rows with missing data have been dropped.


**Observations from EDA:**

- `rating`: The anime ratings are close to normally distributed, with a mean rating of 2.74. The rating increases with an increase in the number of people who have watched or want to watch the anime.
- `eps`: The distribution is heavily right-skewed as there are many anime movies in the data (at least 50%), and they are considered to be of only one episode as per data description. The number of episodes increases as the anime runs for more years.
- `duration`: The distribution is right-skewed with a median anime runtime of less than 10 minutes. With the increase in rating, the duration increases.
- `years_running`: The distribution is heavily right-skewed, and at least 75% of the anime have run for less than 1 year.
- `watched`: The distribution is heavily right-skewed, and most of the anime have less than 500 viewers. This attribute is highly correlated with the `wantWatch` and `votes` attributes.
- `watching`: The distribution is heavily right-skewed and highly correlated with the `dropped` attribute.
- `wantWatch`: The distribution is heavily right-skewed with a median value of 132 potential watchers.
- `dropped`: The distribution is heavily right-skewed with a drop of 25 viewers on average.
- `votes`: The distribution is heavily right-skewed, and few shows have more than 5000 votes.
- `mediaType`: 23% of the anime are published for TV, 17% as music videos, and 14% as web series. Anime available as TV series, web series, or music videos have a lower rating in general
- `ongoing`: Less than 1% of the anime in the data are ongoing.
- `sznOfRelease`: The season of release is missing for nearly 90% of the anime in the data, and is spread out almost evenly across all seasons when available. Anime ratings have a similar distribution across all the seasons of release.
- `studio_primary`: Nearly 40% of the anime in the data are produced by studios not listed in the data. Toei Animation is the most common studio among the available studio names. In general, the ratings are low for anime produced by DLE studios and studios other than the ones listed in the data.
- `studios_colab`: More than 95% of the anime in the data do not involve collaboration between studios.
- `contentWarn`: Less than 10% of the anime in the data have an associated content warning.
- `tag_<tag/genre>`: There are 1747 anime that are based on manga, 1920 of the Comedy genre, 1238 of the Action genre, 1079 anime of the Romance genre, and more.

## Analysis

## Conclusions

## Recommendations